<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    </head>
<body>
    <div class="container">
        <div class="header row">
            <h7 class="audiowidefont divider a h3 col-md-6">The Tech Blog</h7>
            <div class="col-md-2">  </div>
            <div class="buttons col-md-4">
                <button>Home</button>
                <button>Dashboard</button>
                <button>Login</button>
                <button>Logout</button>
            </div>
        </div>
    </div>
</body>
</html>