<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|monaco">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="dark-mode backGroundColor">
    {{> header}}
    <div class="container"> 
        {{{body}}}
    </div>
    {{> footer }}
  </body>
</html>
