<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|monaco">
  </head>
  <body class="dark-mode">
    {{!-- {{> header}} --}}
    <div class="container"> 
        {{{body}}}
    </div>
    {{!-- {{> footer }} --}}
  </body>
</html>
