body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #032b27;
}

/* a {
  color: #00B7FF;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #032b27;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #032b27;
}

.buttons {
  display: flex;
}

/* audiowide font */
.audiowidefont{
  font-family: "Audiowide", sans-serif;
  color: #c0483b;
}

/* monaco font */
.monacofont{
  font-family: "monaco", monospace;
  color: #794a3a;
}

/* glow title orange */
h3.a{
  color: #f57f5b;
  text-shadow: #f7997c 1px 0 10px;
}

/* glow font yellow */
h7.a{
  /* color: #faca78; */
  color: #c0483b;
  text-shadow: #967948 1px 0 10px;
}

/* background color deep green */
.backGroundColor{
  background-color: #032b27;
}

/*button colors */
Button{
  /* background-color: #F57F5B; */
  background-color: #032b27;
  font-family: "monaco", monospace;
  color: #FACA78;
  font-weight: bold;
  font-size:large;
  border: none;
  border-radius: 6px;
}

/* hover over button colors */
button:hover {
    color: #F57F5B;
    text-decoration: underline;
    text-decoration-color: #13c8b3;
    background-color: #032b27;
}

input[type="submit"].btn:hover {
  color: #F57F5B;
  background-color: #FACA78;
}

/* hides iframe buttons */
.hidden {
  display: none;
}

/* Rounded border use around titles*/
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/*used around titles*/
.divider {
  font-size: 30px;
  display: flex;
  align-items: center;
}

/*used around titles*/
.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 3px;
  background-color: #FACA78;
  margin: 5px;
  border-radius: 5px;
}

/*used for iframe divs*/
.centerContainer{  
  text-align: center;
  padding-bottom: 50px;
}

/*used for highscores div*/
.leftBoarder{
  border-left: 5px;
  border-style: none none none groove;
  padding: 10px;
  border-left-color: #DD5341; 
}

.userInfoForm {
  width: 80%;
  padding: 5px 5px;
  margin: 0 auto;
  background: #faca7871;
  border-radius: 8px; 
  border-color: #794a3a73;
}